.nav-head {
	// border-bottom: 1px solid @lowes-lightGrey;
	height: 150px;
	.brand {
		height: 100%;
		position: relative;
		svg {
			fill: @theme-quaternary;
			max-height: 50%;
			width: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			.translate(-50%,-50%);
		}
		h2 {
			color: #fff;
			padding: 20px 10px;
		}
	} 
}