.icon-container {
	padding-left: 0 !important;
	padding-right: 0 !important;
	position: relative;
	
	&:hover {
		background-color: #F8F8F8;
		cursor: pointer;
	}
	
	.selected-arrow {
	    display: none;
	    margin-top: -2px;
		
		&.on {
	    	display: block !important;
		}
		
		&:after, &:before {
			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}
	
		&:after {
			border-color: rgba(248, 248, 248, 0);
			border-top-color: #F8F8F8;
			border-width: 10px;
			margin-left: -10px;
		}
		
		&:before {
			border-color: rgba(21, 182, 229, 0);
			border-top-color: @theme-tertiary;
			border-width: 13px;
			margin-left: -13px;
		}
	}

}

.icon-container .trench.trench-jumbo {
    padding: 4.5rem 0 !important;
    position: relative;
    border: 1px solid #E5E5E5;
    
    &.selected-icon {
	    border: 1px solid @theme-tertiary;
		background-color: #F8F8F8;
	    -webkit-box-shadow: inset 0px 0px 0px 1px @theme-tertiary;
	    -moz-box-shadow: inset 0px 0px 0px 1px @theme-tertiary;
	    box-shadow: inset 0px 0px 0px 1px @theme-tertiary;

		.icon {
			color: @theme-secondary;
		}

    }
    
    p.class-name {
	    font-size: 0.8em;
	    margin-bottom: 0;
	    margin-top: 20px;
	    width: 100%;
	    color: #4A4A4A;
	}
	
	.icon {
		color: #838383;
	}

}

.form-group.inline-icon {
    position: relative;
}

.inline-search-icon {
    display: none;
}

.icon-panel, 
.badge-panel {
	
	display: block;
	
	&.panel-hidden {
 		display: none;
	}
	
	h2.title {
		font-size: 1em;
		
		.icon-arrow-down {
			margin-left: 10px;
			color: @theme-tertiary;
			font-size: 0.8em;
		}
	}

	.iconlist-variants {
	    display: table;
	    width: 100%;
	    
	    li {
		    display: table-cell;
			
			a { 
			    color: #838383;
			    display: block;
			    padding-bottom: 20px;
			    height: 100%;
			    border-bottom: 4px solid #F2F2F2;
			    
			    span {
				    font-family: Din;
				    font-weight: 100;
				    display: block;
				    margin: 30px auto 10px auto;
			    }
		    }
		    
		    &:hover {
			    cursor:pointer
		    }
		    
		    &.selected a {
			    border-bottom: 4px solid @theme-tertiary;
		    }
		}
	}
	
	.code-example {
		display: inline-block;
		color: #838383;
	}
	
}
	
.no-horizontal-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.selected .variant.icons-instance [class^='icon-'] {
	color: @theme-secondary;
}