.tabs {
	ul.tab-nav {
		border-bottom: 1px solid #ccc;
		float: left;
		padding-left: 0;
		list-style: none;
		width: 100%;
		> li {
			float: left;
			> a {
				font-weight: 400;
				margin-right: 2px;
  				padding: 5px 15px;
  				display: inline-block;
  				color: #999;
  				text-transform: uppercase;
			}
			&:first-child > a {
				margin-left: 0;
			}
		}
	}
	.tab.active > a {
		border-bottom: 2px solid @theme-tertiary;
		color: #000;
		font-weight: bold;
	}
	.tab-panes {
		clear: both;
	}
	.tab-pane {
		border-bottom: 1px solid #ccc;
		display: none;
		padding: 20px;
		&.active {
			display: block;
		}
	}
	&.visual {
		ul.tab-nav {
			border-color: #ae0e81;
			> li {
				float: right;
			}
		}
		.tab.active > a {
			border-color: #5d5d5d;
		}
		.tab-pane {
			border: 1px solid #ae0e81;
			border-top: none;
		}
	}
}


.app-tabs .tab-pane {
  display: none;
  border: 1px solid #999999;
  padding: 1em;
}

.app-tabs .tab-pane.active {
  display: block;
}
