.masthead {
	background: #f2f2f2;
	height: 100px;
	div {
		height: 100%;
	}
	.page-title {
		padding: 0 0 0 50px;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: left;
		align-items: left;
		-webkit-justify-content: center;
		justify-content: center;
	}
	h1 {
		color: #333;
		margin-bottom: 0;
	}
	.change-theme {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
		div {
			height: auto;
		}
	}
}