.reference-tags.list {
	li {
		background: #f2f2f2;
		.border-radius(20px);
		display: inline-block;
		float: left;
		margin-left: 0;
		margin-right: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
}