.page-nav {
	position: relative;
	padding-top: 20px;
	li {
		padding-left:15px;
		position: relative;
		a {
			color: #333;
			display: block;
			padding: 5px 0;
			&:hover, &:focus, &:active {
				color: lighten(#333,30%);
			}
		}
		&.active {
			a {
				color: lighten(#333,30%);
			}
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				width: 3px;
				background: @theme-tertiary;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	&.fixed {
		position: fixed;
		top: 0;
	}
}