.visual {
	position: relative;
	span {
		background: #ae0e81;
		color: #fff;
		font-size: 12px;
		display: inline-block;
		padding: 3px 5px;
		&.absolute {
			position: absolute;
			top: 8px;
			left: 0;
		}
	}
	.trench {
		border: 1px solid #ae0e81;
		padding: 40px;
	}
}