.code-block-filename {
  font-size:0.75em;
  line-height: 1;
  background-color: #27292b;
  background-image: linear-gradient(to bottom, #09d 0%, #27292b 10%);
  color:#bbbdbf;
  padding:0.4em 0.6em;
  display:table;
  margin-bottom:-1em;
  padding-bottom: 1em;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  font-weight: 300;
}
 
pre.editor {
  color:#333 !important;
  background-color:#f2f2f2 !important;
  box-sizing: border-box;
  width:100%;
  padding:1em;
  border-radius:0.2em;
  overflow:auto;
}
 
pre.editor > div.line {
  display: block;
}
 
pre.editor .line.highlight:before {
    content: '';
    position: absolute;
    height: 1.6em;
    left: -3px;
    right: 0;
    background: rgb(31, 64, 75);
    z-index: 0;
    border-left: 3px solid #09c;
}
 
pre.editor .line.highlight > * {
    position: relative;
    z-index:1;
}
 
 
pre .comment {
  color: #86909c;
  font-style: italic;
}
pre .comment .markup.link {
  color: #86909c;
}
pre .entity.name.type {
  color: #fbc923;
}
pre .entity.other.inherited-class {
  color: #a4dc48;
}
pre .keyword {
  color: #7783e8;
}
pre .keyword.control {
  color: #7783e8;
}
pre .keyword.operator {
  color: #66d0d6;
}
pre .keyword.other.special-method {
  color: #70cbf2;
}
pre .keyword.other.unit {
  color: #fbc923;
}
pre .storage {
  color: #7783e8;
}
pre .storage.type.annotation,
pre .storage.type.primitive {
  color: #7783e8;
}
pre .storage.modifier.package,
pre .storage.modifier.import {
  color: #cbd3dc;
}
pre .constant {
  color: #ffac29;
}
pre .constant.variable {
  color: #ffac29;
}
pre .constant.character.escape {
  color: #66d0d6;
}
pre .constant.numeric {
  color: #ffac29;
}
pre .constant.other.color,
pre .constant {
    color: #0471AF !important;
}
pre .constant.other.symbol {
  color: #66d0d6;
}
pre .variable {
  color: #ef516f;
}
pre .variable.interpolation {
  color: #be5046;
}
pre .variable.parameter {
  color: #cbd3dc;
}
pre .string {
  color: #a4dc48;
}
pre .string.regexp {
  color: #66d0d6;
}
pre .string.regexp .source.ruby.embedded {
  color: #ffac29;
}
pre .string.other.link {
  color: #ef516f;
}
pre .punctuation.definition.comment {
  color: #86909c;
}
pre .punctuation.definition.method-parameters,
pre .punctuation.definition.function-parameters,
pre .punctuation.definition.parameters,
pre .punctuation.definition.separator,
pre .punctuation.definition.seperator,
pre .punctuation.definition.array {
  color: #cbd3dc;
}
pre .punctuation.definition.heading,
pre .punctuation.definition.identity {
  color: #70cbf2;
}
pre .punctuation.definition.bold {
  color: #ffac29;
  font-weight: bold;
}
pre .punctuation.definition.italic {
  color: #7783e8;
  font-style: italic;
}
pre .punctuation.section.embedded {
  color: #be5046;
}
pre .punctuation.section.method,
pre .punctuation.section.class,
pre .punctuation.section.inner-class {
  color: #cbd3dc;
}
pre .support.class {
  color: #fbc923;
}
pre .support.type {
    color: #990055 !important;
}
pre .support.function {
  color: #66d0d6;
}
pre .support.function.marko-tag,
pre .support.function.marko-attribute {
  color: #70cbf2;
}
pre .support.function.any-method {
  color: #70cbf2;
}
pre .entity.name.function {
  color: #70cbf2;
}
pre .entity.name.class,
pre .entity.name.type.class {
  color: #fbc923;
}
pre .entity.name.section {
  color: #70cbf2;
}
pre .entity.name.tag {
  color: #ef4560;
}
pre .entity.other.attribute-name {
    color: #669900 !important;
}
pre .entity.other.attribute-name.id {
  color: #70cbf2;
}
pre .meta.class {
  color: #fbc923;
}
pre .meta.class.body {
  color: #cbd3dc;
}
pre .meta.method-call,
pre .meta.method {
  color: #cbd3dc;
}
pre .meta.definition.variable {
  color: #ef516f;
}
pre .meta.link {
  color: #fbc923;
}
pre .meta.require {
  color: #70cbf2;
}
pre .meta.selector {
  color: #7783e8;
}
pre .meta.separator {
  background-color: #373b41;
  color: #cbd3dc;
}
pre .meta.tag,
pre .entity.name.tag {
    color: #990055 !important;
}
pre .underline {
  text-decoration: underline;
}
pre .none {
  color: #cbd3dc;
}
pre .invalid.deprecated {
  color: #523d14 !important;
  background-color: #e0c285 !important;
}
pre .invalid.illegal {
  color: white !important;
  background-color: #e05252 !important;
}
pre .markup.bold {
  color: #fbc923;
  font-weight: bold;
}
pre .markup.changed {
  color: #7783e8;
}
pre .markup.deleted {
  color: #ef516f;
}
pre .markup.italic {
  color: #7783e8;
  font-style: italic;
}
pre .markup.heading {
  color: #ef516f;
}
pre .markup.heading .punctuation.definition.heading {
  color: #70cbf2;
}
pre .markup.link {
  color: #66d0d6;
}
pre .markup.inserted {
  color: #a4dc48;
}
pre .markup.quote {
  color: #fbc923;
}
pre .markup.raw {
  color: #a4dc48;
}
 
pre .string {
    color: #0471AF !important;
}
 
 
 
 
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
            color: slategray;
}
 
.token.punctuation {
            color: #999;
}
 
.namespace {
            opacity: .7;
}
 
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
            color: #905;
}
 
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
            color: #690;
}
 
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
            color: #a67f59;
            background: hsla(0, 0%, 100%, .5);
}
 
.token.atrule,
.token.attr-value,
.token.keyword {
            color: #07a;
}
 
.token.function {
            color: #DD4A68;
}
 
.token.regex,
.token.important,
.token.variable {
            color: #e90;
}
 
.token.important,
.token.bold {
            font-weight: bold;
}
.token.italic {
            font-style: italic;
}
 
.token.entity {
            cursor: help;
}
 
